<mat-toolbar color="primary" class="header-toolbar" [class.admin-theme]="theme === 'admin'"
  [class.user-theme]="theme === 'user'">
  <span class="title">{{ title || ('app.title' | t) }}</span>
  <span class="spacer"></span>

  <div class="header-actions">
    <div class="lang-switch" aria-label="Language switcher">
      <mat-icon class="lang-icon">language</mat-icon>

      <mat-button-toggle-group name="language" [value]="translationService.currentLang"
        [hideSingleSelectionIndicator]="true"
        (change)="setLanguage($event.value)" appearance="legacy" class="lang-toggle-group">
        <mat-button-toggle value="uk">{{ 'language.uk' | t }}</mat-button-toggle>
        <mat-button-toggle value="en">{{ 'language.en' | t }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <span class="welcome">
      {{ 'common.welcome' | t }}, {{ welcomePrefix ? (welcomePrefix | t) + ' ' : '' }}{{ displayUserName }}
    </span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" [attr.aria-label]="'header.userMenu' | t">
    <mat-icon class="user-icon">account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="openChangePasswordDialog()">
      <mat-icon>lock</mat-icon>
      <span>{{ 'header.changePassword' | t }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'common.logout' | t }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
